.custom-toggler.navbar-toggler {
  /*
    border-color: green;
    background: red;
  */
}
.custom-toggler .navbar-toggler-icon {
  /*
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  */
}

.navbar{
  background: white;
}

.nav-link{
  margin: 0 15px;
}

.box-fix{
  position: relative;
  top: 55px;
}

section.bg-top{
  width: 100%; /*Largura*/
  min-height: 600px; /*Altura*/
  background-image: url(../projeto_08/images/bg.jpg);
  background-size: cover; /*Tamanho BG cubrir*/
  background-position: center;
  background-attachment: fixed; /*anexo de fundo (Parallax: efeito de fundo)*/
  position: relative;
}

.fix-zindex{
  position: relative;
  z-index: 2;
}

/*sobreposição*/
.overlay{
  z-index: 1; /*Índice*/
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(100, 100, 100, 0.5);
}

.texto-bg{
  display: inline-block;
  color: white;
  padding: 140px 0;
}

.padding30{
  padding-right: 60px;
}

section.chamada{
  background: #3FA3C5;
  padding: 8px 0;
  color: white;
}

section.chamada h2{
  font-size: 27px;
}

section.sobre{
  padding: 30px 0;
}

.custom-title{
  position: relative;
}

.custom-title h2{
  color: #888;
  font-size: 25px;
}
/*
.custom-title div{
  position: absolute;
  left: 0;
  top: 0;
  background: #c5963f;
  width: 120px;
  height: 4px;
}
*/

section.diferenciais{
  padding: 30px 10;
  color: #646464;  
}

section.diferenciais .col-md-4{
  padding: 0 40px;
}

section.diferenciais h2{
  padding: 10px;
  border-bottom: 1px dotted black;
}

section.convite{
  padding: 25px 0;
  background: #3FA3C5;
}

section.convite h2{
  font-size: 28px;
  color: white;
}

#name::placeholder{
  margin-right: 10px;
  font-weight: lighter;
}

section.convite input[type=email]{
  width: calc(100% - 100px);
  height: 40px;
}

section.convite button{
  width: 100px;
  height: 40px;
  vertical-align: top;
}

section.contato{
  padding: 30px 0;
  background: rgb(225,225,225);
  
}

footer{
  padding: 14px 0;
  background: #333;
  color: white;
}

footer ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}

.group-btns{
  margin: 0 10px;
}

footer a{
  color: white;
  font-size: 17px;
}


/*Responsive Mobile*/
@media screen and (max-width: 1024px){
  /*
  .navbar-nav{
    margin-top: 30px;
  }
  .nav-link{
  border-top: 1px solid black;
  margin:0 10px;
}
*/
.nav-link{
  margin: 0;
}

}

